* {
  margin: 0;
  padding: 0;
}
.navbar {
  border: none;
  background-color: black;
  color: #61122f;
}
body {
  background-color: #1d3557;
  color: #f1faee;
}
.glyphicon {
  font-size: 30px;
  color: #d62828;
}

.center {
  width: 90%;
  background-color: #a8dadc;
}
.container {
  background-color: #457b9d;
}
.text-center {
  font-size: 30px;
}

h2 {
  text-align: center;
}
#myNavbar ul li a {
  color: #e63946;
}
.navbar-brand {
  font-size: 30px;
}
